 
 <div class="row">
          <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="szukaj..." ng-model="serch"> 
          </div> <!--- END COLL xs 6 -->
         <div class="col-xs-6 text-right">
      <a href="#/product/create" class="btn btn-success">Nowy produkt</a>
        </div> <!--- END COLL xs 6 -->
      </div> <!-- end ROW -->
          <br>
      <!--- wyswietlanie produktow OSOM -->
        
      <div ng-controller="songs">   
          
          <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Autor</th>
        <th>Tytuł</th>
        <th>Gatunek</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="songs in songs | filter: serch">
        <td>
          <button id="{{songs.url}}" class="btn btn-success">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
        </td>
        <td>{{songs.autor }}    </td>
        <td>{{songs.tytul}}</td>
        <td>{{songs.gatunek}}</td>
        <td><button class="btn btn-danger">
             <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Dodaj
            </button></td>
      </tr>
    </tbody>
  </table>
      </div>

 