<form ng-submit="adduser(user)">
    <section id="sponsor">
    <div class="container">    
        <div class="row">
            <div style="padding-top:15px;" class="col-sm-4 center-block">

                {{errors}}
                <form ng-submit="adduser()">
                    <div class="form-group">
                        <label>Id:</label>
                        <input type="text" class="form-control" ng-model="user.names">
                    </div>
                    <div class="form-group">
                        <label>Haslo:</label>
                        <input type="password" class="form-control" ng-model="user.password">
                    </div>
                    <div class="form-group">
                        <label>Powtorz hasło:</label>
                        <input type="password" class="form-control" ng-model="user.passconf">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" ng-model="user.email">
                    </div>
                    <div class="form-group">
                        <label>role:</label>
                        <select class="form-control" ng-model="user.role">
                            <option value="user">user</option>
                            <option value="admin">admin</option>
                        </select>
                    </div>
                </form>
                <button type="submit" class="btn btn-success" ng-if="!success">Dodaj do bazy Usera</button>
                <button type="button" class="btn btn-danger" ng-if="success" disabled>Dodano  pomyslnie</button>
                <a href="#/admin/users" class="btn btn-danger">Wroć</a>
            </div>
        </div>
    </div>
    </section>
</form>


